<%- include('../partials/htmlheader') %>

<h1>Flight Details Page</h1>
<div class="show-container">
    <div class="show-detail">
        <h3>Airline:</h3>
        <p><%= flight.airline %></p>
    </div>
    <div class="show-detail">
        <h3>Flight Number:</h3>
        <p><%= flight.flightNo %></p>
    </div>
    <div class="show-detail">
        <h3>Departure Time:</h3>
        <p><%= flight.departs %></p>
    </div>
    <div class="show-detail">
        <h3>Departs From:</h3>
        <p><%= flight.airport %></p>
    </div>
    <hr>
    <div class="show-detail">
        <h3>Add New Destination:</h3>
    </div>
    <form class="show-dest-form" action="/flights/<%= flight._id %>" method="POST">
        <div class="show-detail">
            <h3>Arrives At:</h3>
            <select name="airport" id="dest-airport">
                <option value="AUS">AUS</option>
                <option value="DAL">DAL</option>
                <option value="LAX">LAX</option>
                <option value="SEA">SEA</option>
            </select>
        </div>
        <div class="show-detail">
            <h3>Arrival Time:</h3>
            <input type="datetime-local" name="arrival" value="<%= defaultArriveDate %>">
        </div>
        <div class="submit-btn">
            <input type="submit" value="Submit">
        </div>
    </form>
    <hr>
    <div class="show-detail">
        <h3>Current Flight Destinations:</h3>
    </div>
    <% flight.destinations.forEach(destination => { %>  
    <div class="show-detail">
        <h3>Arrives at:</h3>
        <p><%= destination.airport %></p>
    </div>
    <div class="show-detail">
        <h3>Arrival Time:</h3>
        <p><%= destination.arrival %></p>
    </div>
    <% }); %>
    <hr>
    <div class="show-detail">
        <h3>Tickets Sold:</h3>
        <div class="tickets">
            <% tickets.forEach(ticket => { %>
            <div class="ticket">
                <p><%= ticket.seat %></p>
                <p>$<%= ticket.price %></p>
            </div>
            <% }); %>
        </div>
    </div>
    <a href="/flights/<%= flight._id %>/tickets/new" class="add-ticket-btn">Add New Ticket</a>
</div>
<a href="/flights">Return to Flight Index</a>

<%- include('../partials/htmlfooter') %>